{% extends 'blog/base.html' %}
{% block title %}Homepage{% endblock %}
{% block home %}active{% endblock %}

{% block body %}

{% if posts %}
{% for post in posts %}
<h4><small>RECENT POSTS</small></h4>
<hr>
<h2>{{ post.title }}</h2>
<h5><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date | date }}</h5>
<p>{{ post.body|safe|linebreaks|truncatechars:400 }}</p>
<a href="{% url 'blog:detail' post.id %}"><span class="btn btn-primary">View</span></a>
<br><br>
{% endfor %}
{% elif error_message %}
<h4>{{ error_message }}</h4>
{% else %}
<h4>You don't have any Post.Go to Add Post link in side navigation bar to add Post.</h4>
{% endif %}
{% endblock %}
